:root {
  --color-1: radial-gradient(#cb2d3e, #d94747);
  --color-2: radial-gradient(#d9a7c7, #ED4264);
  --color-3: radial-gradient(#d9a7c7 5%, #ED4264);
  --rx: 0;
  --ry: 0;
}

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-image: var(--color-2);
  animation: background 1s linear infinite alternate;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
  overflow:hidden
}

body:active {
  .hover { 
    @for $i from 0 to 11 {
      &:nth-child(11n + #{$i + 1}) {
        &:hover ~ .heart {
          --ry: #{-180 + 360/10 *$i}deg;
        }
      }
      &:nth-child(n + #{11 * $i + 1}):nth-child(-n + #{11 * ($i + 1)}) {
        &:hover ~ .heart {
          --rx: #{180 - 360/10 *$i}deg;
        }
      }
    }  
  }
  
  .heart {
    animation-duration: 0s;
  }
  
  .side {
    animation-duration: 0s;
  }
}

.hover {
  position: absolute;
  width: calc(100% / 11);
  height: calc(100% / 11);
 
  @for $i from 0 to 11 {
    &:nth-child(11n + #{$i + 1}) {
      left: 100% / 11 * $i;
    }
    &:nth-child(n + #{11 * $i + 1}):nth-child(-n + #{11 * ($i + 1)}) {
      top: 100% / 11 * $i;
    }
  }  
}

.heart {
  animation: rotate 10s linear infinite;
  transform-style: preserve-3d;
  transform:  
    rotateX(var(--rx)) 
    rotateY(var(--ry));
  transition: transform 0.3s;
}

.side {
  width: 50vmin;
  height: 50vmin;
  position: relative;
  transform-style: preserve-3d;
  z-index:-1;
  animation: bitting 1s linear infinite;
}

.back {
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  position: relative;
  transform-style: preserve-3d;
}

.triangle {
  position: absolute;
  background-image: var(--color-1);
  transform-origin: bottom center;
  bottom: 25%;
}

.triangle:nth-child(1) {
  clip-path: polygon(1% 26%, 100% 4%, 100% 100%, 0% 26%);
  width: 14%;
  height: 31%;
  transform-origin: bottom right;
  transform: 
    translateX(6.5%) 
    translateZ(-0.05vmin)
    rotateZ(49.5deg) 
    rotateY(65deg);
  left: 35%;
}

.triangle:nth-child(2) {
  width: 14%;
  height: 30%;
  clip-path: polygon(0% 1.5%, 100% 25%, 98.5% 25%, 0% 100%);
  transform-origin: bottom left;
  transform: 
    translateX(108%) 
    rotateZ(49.5deg) 
    rotateY(116deg);
  left: 35%;
}

.triangle:nth-child(3) {
    width: 14%;
    height: 26.7%;
    clip-path: polygon(5% 17.5%, 100% 0%, 100% 100%, 100% 100%);
    transform-origin: bottom right;
    transform: 
      translateX(25%) 
      rotateX(327deg) 
      rotateZ(30deg) 
      rotateY(17deg);
    left: 32.5%;
}

.triangle:nth-child(4) {
  width: 14%;
  height: 26.7%;
  clip-path: polygon(0% 0%, 95% 17.5%, 95% 20%, 0% 100%);
  transform-origin: bottom left;
  transform: 
    translateX(24%) 
    rotateX(327deg) 
    rotateZ(-30deg) 
    rotateY(-17.5deg);
  left: 46.5%;
}

.triangle:nth-child(5) {
  width: 15.8%;
  height: 16%;
  transform-origin: center right;
  transform: 
    translateX(-12%) 
    translateY(-120%) 
    rotateY(54deg);
  left: 58.5%;
}

.triangle:nth-child(6) {
  width: 15.8%;
  height: 16%;
  transform-origin: center left;
  transform: 
    translateX(-16%) 
    translateY(-120%) 
    rotateY(126deg);
  left: 75%;
}

.triangle:nth-child(7) {
  width: 14%;
  height: 16%;
  transform-origin: bottom right;
  transform:
    translateZ(6.35vmin) 
    translateX(-70%) 
    translateY(-120%) 
    rotateY(-198.5deg);
  left: 32.5%;
}

.triangle:nth-child(8) {
  width: 14%;
  height: 16%;
  transform-origin: bottom left;
  transform:
    translateZ(6.35vmin) 
    translateX(220%) 
    translateY(-120%) 
    rotateY(198.5deg);
  left: 32.5%;
}

.triangle:nth-child(9) {
  width: 15.8%;
  height: 17.5%;
  transform-origin: bottom right;
  transform: 
    translateX(-12%) 
    translateY(-200%) 
    rotateY(54deg)
    rotateX(40deg);
  left: 58.5%;
  clip-path: polygon(48.5% 0%, 48% 0, 100% 100%, 0% 100%);
}

.triangle:nth-child(10) {
  width: 15.8%;
  height: 17.5%;
  transform-origin: bottom left;
  transform: 
    translateX(-16%) 
    translateY(-200%) 
    rotateY(126deg)
    rotateX(40deg);
  left: 75%;
  clip-path: polygon(51% 0%, 51% 0, 100% 100%, 0% 100%);
}

.triangle:nth-child(11) {
  width: 14%;
  height: 19.5%;
  transform-origin: bottom right;
  transform:
    translateZ(6.35vmin) 
    translateX(-70%) 
    translateY(-180%) 
    rotateY(-198.5deg)
    rotateX(-45.5deg);
  left: 32.5%;
  clip-path: polygon(100% 2%, 98% 2%, 100% 100%, 0% 100%);
}

.triangle:nth-child(12) {
  width: 14%;
  height: 19.5%;
  transform-origin: bottom left;
  transform:
    translateZ(6.35vmin) 
    translateX(220%) 
    translateY(-180%) 
    rotateY(198.5deg)
    rotateX(-45.5deg);
  left: 32.5%;
  clip-path: polygon(4% 4%, 0% 0%, 100% 100%, 0% 100%);
}

.triangle:nth-child(13) {
  width: 35%;
  height: 16%;
  transform-origin: bottom center;
  transform:
    translateX(-0.25%) 
    translateY(-219%) 
    rotateY(90deg) 
    rotateX(-33.5deg);
  left: 32.5%;
  clip-path: polygon(50% 0, 50% 0, 100% 100%, 0% 100%);
}

@keyframes bitting {
  0%   {
    transform: scale(1.5);
  }
  25%  {
    transform: scale(1.7);
  }
  50%  {
    transform: scale(1.5);
  }
  75% {
    transform: scale(2); 
  }
  100% {
    transform: scale(1.5); 
  }
}

@keyframes rotate {
  0%   {
    transform: rotateY(180deg);
  }
  100%  {
    transform: rotateY(-180deg);
  }
}

@keyframes background {
  0%   {
    background-image: var(--color-2);
  }
  100%  {
    background-image: var(--color-3);
  }
}
